# Analisis Perkembangan Energi Terbarukan dan Fosil Dunia

In [ ]:
import pandas as pd

In [ ]:
file = "/content/drive/MyDrive/Check_point_AVD/global_renewable_and_fossil_fuel_energy_2000_2022.csv"
Datafile = pd.read_csv(file)

Datafile

,country,country_code,region,year,renewable_energy_percent,fossil_fuel_energy_percent,electricity_from_renewables_percent,electricity_from_fossil_percent,total_electricity_share,clean_energy_dominant
0,Aruba,ABW,Latin America & Caribbean,2000,0.2,NaN,0.000000,100.000000,100.000000,False
1,Aruba,ABW,Latin America & Caribbean,2001,0.2,NaN,0.000000,100.000000,100.000000,False
2,Aruba,ABW,Latin America & Caribbean,2002,0.2,NaN,0.000000,100.000000,100.000000,False
3,Aruba,ABW,Latin America & Caribbean,2003,0.2,NaN,0.000000,100.000000,100.000000,False
4,Aruba,ABW,Latin America & Caribbean,2004,0.2,NaN,0.000000,100.000000,100.000000,False
...,...,...,...,...,...,...,...,...,...,...
4852,Zimbabwe,ZWE,Sub-Saharan Africa,2018,79.7,0.0,63.033301,44.113566,107.146867,True
4853,Zimbabwe,ZWE,Sub-Saharan Africa,2019,81.0,0.0,68.845218,48.223229,117.068447,True
4854,Zimbabwe,ZWE,Sub-Saharan Africa,2020,84.1,0.0,60.785554,41.120935,101.906489,True
4855,Zimbabwe,ZWE,Sub-Saharan Africa,2021,82.4,0.0,72.628388,29.404206,102.032593,True
4856,Zimbabwe,ZWE,Sub-Saharan Africa,2022,NaN,0.0,NaN,31.001608,NaN,False

# Bussines Understanding

## Bussines Objective

Dataset ini bertujuan untuk memahami tren penggunaan energi terbarukan dan energi fosil secara global agar pengambilan keputusan dalam sektor energi dapat dilakukan secara strategis. Analisis ini bertujuan untuk mengidentifikasi pergeseran penggunaan energi fosil ke energi terbarukan, menilai tingkat ketergantungan suatu negara terhadap energi fosil, serta membuat pertimbangan dalam perencanaan kebijakan energi dan transisi energi berkelanjutan

## Assess Situation

Berdasarkan dataset tersebut kebutuhan energi dunia terus meningkat, sementara isu perubahan iklim semakin serius. banyak negara mulai menggunakan energi terbarukan, akan tetapi energi fosil juga masih sangat banyak dipakai.

## Analytic Goals

* Menganalisis tren penggunaan energi dari tahun ke tahun
* Membandingkan penggunaan energi terbanyak tiap negara
* Melihat pergeseran energi fosil ke energi terbarukan
* Mengukur kontribusi energi terbarukan terhadap total konsumsi energi

## Project Plan

* Memahami isi dataset
* Memvisualisasikan isi Dataset
* Memanfaatkan isi dataset
* Membuat kesimpulan dari isi dataset